h1{
    
   color: chocolate;
   text-align: center;
   border:2px solid red;
   background: #000;

}
button{
    color:rgb(32, 32, 174);
   
}
body{
  
    background-color: rgb(27, 213, 104);
}
.abcd{
    color:rgb(245, 39, 39);
}
input[type="text"]{
    color: black;
}
/* #abcdef{
    text-emphasis-color: red;
} */