{% load static %}
<html>
    <head>
        <title>new</title>
        <link rel="stylesheet" href="{% static 'css/external.css' %}">
        <!-- <style>
            h1{
                color: white;
                background: #000;
                text-align: center;
                border: 2px;
            }
            body{
                background: #000;
            }
        </style> -->
    </head>
    <body>
        <center>
            <h1>.............</h1>
        </center>
        <form action="" method="">
            username:<input type="text" name="uname" placeholder="text here"><br><br>
            password:<input type="password" name="pwd" placeholder="text here"><br><br>
            <input type="submit" value="login" >
        </form>
    </body>
</html>