
{% load static %}
<html>
    <head>
        <title>new</title>
        <link rel="stylesheet" href="{% static 'css/external.css' %}">
        <!-- <style>
            h1{
                color: white;
                background: #000;
                text-align: center;
                border: 2px;
            }
            body{
                background: #000;
            }
        </style> -->
    </head>
    <body>
        <center>
            <h1 id="main">.......</h1>
        </center>
        <form action="" method="">
            <p class="abcd">EMTER YOUR NAME</p>
            <p calss="abcd">ENTER YOUR PASSWORD</p>
           <input type="text" name="uname" placeholder="ENTER NAME" ><br><br>
           <input type="password" name="pwd" placeholder="ENTER PASSWORD"><br><br>
            <!-- <input type="submit" value="orappalleee"  > -->
            <button>submit</button>
        </form>
    </body>
</html>